.App {
  text-align: center;
}

.space-link {
  text-decoration: none;
  color: #000;
}

.share {
  flex-direction: row;
  margin: 10px auto;
  max-width: 90%;
  border: 1px solid #2D4B65;
  padding: 5px;
  border-radius: 5px;
  color: #2D4B65;
  animation: fadeIn 2s linear;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 1.5s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.main-menu-bar {
  background: #2D4B65;
  padding: 0px;

}

.logo-text {
  font-weight: bold;
  color: #F4C434;
  font-size: 2em;
  margin-right: 40px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.logo-text:hover {
  color: #fff
}

.main-menu-item {
  color: #edefee;
  text-decoration: none;
  font-size: 1.4em;
  margin-right: 20px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.main-menu-item:hover {
  color: #F4C434;
}

.msg-bar {
  background-color: #2D4B65;
  font-size: 1.5em;
  color: #fff;
}

.sidebar {
  flex: 1;
  background-color: #4378A2;
  min-height: 100vh;
}

.content-div {
  flex: 3;
}

.space {
  margin: 20px auto;
  max-width: 90%;
  border: 1px solid #2D4B65;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.2em;
  color: #2D4B65;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  animation: fadeIn 2s linear;
}

.space:hover {
  background-color: #F4C434;
  color: #fff;
}

.member {
  margin: 10px;
  border: 1px solid gray;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  animation: fadeIn 2s linear;
}

.members-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.div-flex {
  flex: 1;
}

.div-flex-basic {
  display: flex;
}

img {
  border-radius: 5px;
  border: 1px solid #000;
}

.share-image {
  max-height: 200px;
  margin: 5px;
  margin-right: 20px;
}

.all-photos-image {
  max-height: 300px;
  margin: 10px;
}

button {
  margin-top: 5px;
  background-color: #AF4474;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  min-width: 10em;
}

button:hover {
  background-color: #F4C434;
}

button:disabled {
  background-color: gainsboro;
}

input {
  text-align: center;
  width: 80%;
  height: 2em;
  border-radius: 5px;
  border-style: outset;
  border-width: 2px;
}

textarea {
  text-align: center;
  width: 80%;
  height: 8em;
  border-radius: 5px;
  border-style: outset;
  border-width: 2px;
}

.msg {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.2em;
  color: #9ACC8F;
  margin: 15px;
  display: inline-block;
}

hr {
  width: 95%;
  border-style: dotted;
  border-color: #F4C434;
}

.file-input {
  display: none;
}

.file-upload {
  display: inline-block;
  background-color: #AF4474;
  color: #fff;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 5px;
  border-style: outset;
  border-width: 2px;
  border-color: #000;
  font-family: monospace;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.file-upload:hover {
  background-color: #F4C434;
}

.chosen-image {
  color: white;
  font-family: monospace;
}

.chosen-image-edit {
  font-family: monospace;
}

.breadcrumb-div {
  display: flex;
  margin: 15px;
}

.breadcrumb {
  font-family: monospace;
  font-size: 1.7em;
  font-weight: bold;
  color: #2D4B65;
  text-decoration: none;
}

.breadcrumb:hover {
  color: #F4C434;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.auth-input {
  width: 20%;
}

.auth-page {
  text-align: center;
  background-color: #2D4B65;
  color: white;
  min-height: 100vh;
}

.auth-logo-text {
  font-weight: bold;
  color: #F4C434;
  font-size: 3em;
}

.disclaimer {
  color: #F4C434;
  border: 2px dotted white;
  padding: 10px;
  display: inline-block;
}

.auth-page-msg {
  font-family: monospace;
  font-size: 2em;
  color: #9ACC8F;
}

.share-content-container {
  flex: 4;
  text-align: left;
}

.share-content {
  display: inline-block;
  vertical-align: top;
}

.text-align-left {
  text-align: left;
}