/* :root {
  --dark-blue: #2D4B65;
  --light-blue: #4378A2;
  --burgundy: #AF4474;
  --yellow: #F4C434;
  --green: #9ACC8F;
} */
:root {
  --dark-blue: #40392F;
  --light-blue: #465248;
  --burgundy: #8E3952;
  --yellow: #ECE6DA;
  --green: #BCB096;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

}

.header {
  background: var(--dark-blue);
}

.body {
  overflow: auto;
}

.main-menu-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.msg-bar {
  font-size: 1.5em;
  font-family: monospace;
  font-weight: bold;
  color: var(--green);
  padding: 0.5em;
}

.logo-text {
  font-weight: bold;
  color: var(--yellow);
  font-size: 2em;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.logo-text:hover {
  color: white
}

.link-item {
  color: white;
  text-decoration: none;
  font-size: 1.4em;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.link-item:hover {
  color: var(--yellow);
}

.sidebar-container {
  background-color: var(--light-blue);
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.5em;
  border-right: 2px solid var(--dark-blue);
  width: 33%;
  position: fixed;
  float: left;
  overflow: auto;
  height: 100vh;
}

@media (max-height: 600px) {
  .min-height {
    min-height: 600px;
  }
}

.content-container {
  width: 64%;
  float: right;
}

.breadcrumb-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

.margin-right {
  margin-right: 1em;
}

.space-link {
  text-decoration: none;
}

.space-tile {
  margin: 0.5em;
  max-width: 90%;
  border: 2px solid var(--dark-blue);
  padding: 1em;
  border-radius: 5px;
  font-size: 1.2em;
  color: var(--dark-blue);
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  animation: fadeIn 2s linear;
}

input {
  text-align: center;
  width: 95%;
  height: 2em;
  border-radius: 5px;
  border-style: outset;
  border-width: 2px;
}

button {
  background-color: var(--burgundy);
  color: white;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  width: 9em;
}

button:hover {
  background-color: var(--yellow);
}

button:disabled {
  background-color: gainsboro;
}

hr {
  border-style: solid;
  border-width: 2px;
  border-color: var(--dark-blue);
  width: 50%;
  margin-top: 1em;
  margin-bottom: 1em;
}

textarea {
  width: 95%;
  height: 8em;
  border-radius: 5px;
  border-style: outset;
  border-width: 2px;
}

.default-file-input {
  display: none;
}

.custom-file-input {
  display: inline-block;
  background-color: var(--burgundy);
  color: white;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 5px;
  border-style: outset;
  border-width: 2px;
  border-color: black;
  font-size: 0.8em;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  width: 7em;
}

.custom-file-input:hover {
  background-color: var(--yellow);
}

.chosen-file {
  color: white;
  font-family: monospace;
}

.chosen-file-edit {
  font-family: monospace;
}

img {
  border-radius: 10px;
  border: 1px solid #000;
  max-height: 20em;
  max-width: 100%;
}

.share-tile {
  margin: 0.5em;
  color: var(--dark-blue);
  animation: fadeIn 2s linear;
  padding: 0.2em;
  background-color: var(--yellow);
}

.share-title-container {
  background-color: var(--green);
  border-radius: 10px;
}

#share-button {
  width: 2em;
  padding: 0;
  margin-left: 2px;
  margin-right: 2px;
}

.margin-top {
  margin-top: 0.5em
}

.member-tile {
  margin: 0.5em;
  border: 2px solid var(--dark-blue);
  padding: 0.5em;
  border-radius: 5px;
  animation: fadeIn 2s linear;
  width: 100%;
}









@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 1.5s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.space:hover {
  background-color: #F4C434;
  color: #fff;
}

.members-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.all-photos-image {
  max-height: 300px;
  margin: 10px;
}

.breadcrumb {
  font-family: monospace;
  font-size: 1.7em;
  font-weight: bold;
  color: #2D4B65;
  text-decoration: none;
}

.breadcrumb:hover {
  color: #F4C434;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.auth-input {
  width: 20%;
}

.auth-page {
  text-align: center;
  background-color: #2D4B65;
  color: white;
  min-height: 100vh;
}

.auth-logo-text {
  font-weight: bold;
  color: #F4C434;
  font-size: 3em;
}

.disclaimer {
  color: #F4C434;
  border: 2px dotted white;
  padding: 10px;
  display: inline-block;
}

.auth-page-msg {
  font-family: monospace;
  font-size: 2em;
  color: #9ACC8F;
}