.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.space-link {
  text-decoration: none;
  color: #000;
}

.share {
  display: flex;
  margin: 10px auto;
  max-width: 90%;
  border: 1px solid #2D4B65;
  padding: 5px;
  border-radius: 5px;
  color: #2D4B65;
}

.main-menu-bar {
  background: #2D4B65;
  padding: 0px;

}

.logo-text {
  font-weight: bold;
  color: #F4C434;
  font-size: 2em;
  margin-right: 40px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.logo-text:hover {
  color: #fff
}

.main-menu-item {
  color: #edefee;
  text-decoration: none;
  font-size: 1.3em;
  margin-right: 20px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.main-menu-item:hover {
  color: #F4C434;
}

.msg-bar {
  background-color: #2D4B65;
  font-size: 1.5em;
  color: #fff;
}

.sidebar {
  flex: 1;
  background-color: #4378A2;
  min-height: 100vh;
}

.content-div {
  flex: 3;
}

.space {
  margin: 20px auto;
  max-width: 90%;
  border: 1px solid #2D4B65;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.2em;
  color: #2D4B65;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.space:hover {
  background-color: #F4C434;
  color: #fff;
}

.left-div-flex {
  flex: 1;
}

.right-div-flex {
  flex: 3;
  text-align: left;
}

.member {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  max-width: 70%;
  border: 1px solid gray;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 10px;
}

.div-flex {
  flex: 1;
}

.div-flex-basic {
  display: flex;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 9px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.full-img {
  width: 100%;
}

img {
  border-radius: 5px;
}

.image-container {
  display: 'flex';
  text-align: left;
}

.small-image {
  height: 250px;
  border: 1px solid #000;
  margin-right: 10px;
}

button {
  margin-top: 5px;
  background-color: #AF4474;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  min-width: 10em;

}

button:hover {
  background-color: #F4C434;
}

input {
  text-align: center;
  width: 80%;
  height: 2em;
  border-radius: 5px;
  border-style: outset;
  border-width: 2px;
}

textarea {
  text-align: center;
  width: 80%;
  height: 8em;
  border-radius: 5px;
  border-style: outset;
  border-width: 2px;
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0)
  }
}

.loading {
  font-weight: bold;
  display: inline-block;
  font-size: 30px;
  clip-path: inset(0 5ch 0 0);
  animation: l 3s steps(6) infinite;
}

hr {
  width: 95%;
  border-style: dotted;
  border-color: #F4C434;
}

#fileInput {
  display: none;
}

.file-upload {
  display: inline-block;
  background-color: #F4C434;
  color: #fff;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 5px;
  border-style: outset;
  border-width: 2px;
  border-color: #000;
  font-family: monospace;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.file-upload:hover {
  background-color: #AF4474;
}

.content-title {
  margin: 15px;
  text-align: left;
  font-family: monospace;
  font-size: 2em;
  font-weight: bold;
  color: #2D4B65;
}

.auth-input {
  width: 20%;
}

.auth-page {
  text-align: center;
  background-color: #2D4B65;
  color: white;
  min-height: 100vh;
}

.auth-logo-text {
  font-weight: bold;
  color: #F4C434;
  font-size: 3em;
}

.disclaimer {
  color: #F4C434;
  border: 2px dotted white;
  padding: 10px;
  display: inline-block;
}

.auth-page-msg {
  font-family: monospace;
  font-size: 2em;
}